body, html {
    height: 98.9%;
}

#root {
    height: 100%;
    padding: 10px;
}

.mainScreen {
    display: grid;
    grid-template-rows: 9% 91%;
    height: 100%;
}

.header {
    background-color: #A3BFF0;
    border-radius: 5px;

    font-family: Georgia, serif;
    font-size: large;

    padding: 12px;
    margin-bottom: 15px;
}

.contentContainer{
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 5px;
    border:  thin black solid;
    font-family: Georgia, serif;
}

.sidebarActivity {
    background-color: #ee99ea;
    border: thin solid black;

    padding: 15px;
    font-family: Georgia, serif;
}

.buttonSidebar {
    width: 100%;
}

.sidebarActivity + .sidebarActivity{
    margin-top: 20px;
}

.operationContainer {
    margin-left: 8px;
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 5px;
    border: thin black solid;
    font-family: Georgia, serif;
    overflow-y: auto;
}

.buttonGroup {
    margin-left: 10px;
}

.taskButtonGroup {
    margin-bottom: 10px;
    margin-left: 10px;
}

.buttonTask {
    margin-left: 10px;
}

.searchContainer {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.listEntityContainer {
}

.listEntityContainer > .inlineListEntity {
    margin-left: 10px;
}


.inlineListEntity {
    border-radius: 5px;
    border: thin black solid;
    padding: 15px 10px 10px 15px;
    background-color: #CCFF99;

    font-family: Georgia, serif;
    width: 250px;
    height: 130px;
    display: inline-block;
}

.inlineListEntity + .inlineListEntity {
    margin-top: 10px;
    margin-left: 10px;
}

.taskListEntity {
    border-radius: 5px;
    border: thin black solid;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #CCFF99;

    font-family: Georgia, serif;
    /* display: table; */
}

.taskListEntity + .taskListEntity {
    margin-top: 10px;
}

.buttonGetValues {
    bottom: 0;
}